

.navbar {
    background-color: #3dd1eb;
}

.navbar h1 {
    font-size: 25px;
}
#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #3dd1eb;
}
#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover {
    color: white;
}
.text-colored {
    color: #3dd1eb;
}
#sobre-a-loja,
#produtos {
    background-color: #6fcfe02d;
}

.nav-produtos .nav-link.active,
#fale-conosco button {
    background-color: #3dd1eb;
    color: white;
}

.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}

#eventos img {
    height: 400px;
}

.price strong {
    font-size: 23px;
    align-content: center;
}
.btn {
    background-color: rgb(24, 232, 52);
    border: none;
    
}
.btn:hover {
    background-color:rgb(25, 181, 46);
    transition: all ease 0.3s;
    transform: scale(1.01);
}
.tamanhos {
    /* font-style: italic; */
    font-weight: bold;
    /* padding-left: 15%; */
}

#produtos img {
    border-radius: 9%;
}

#produtos img:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.06);
}

